In [1]:
# Import required modules
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
# Read csv file
file_path = r"C:\Users\hankc\OneDrive\桌面\py4e\ebay_Laptop_Product_.csv"
data = pd.read_csv(file_path)
data.head(5)

,Product_Name,Product_Price,Place_of_shipment,Review,Shipping_Cost
0,"Dell 14"" TOUCHSCREEN Laptop Quad-Core Intel i5...","NT$6,322",from United States,"allamandi (5,720) 99.1%","+NT$ 1,228 shipping"
1,"FAST HP 15.6"" Laptop Intel Core i7 2.7GHz 16GB...","NT$6,322",from United States,"allamandi (5,720) 99.1%","+NT$ 1,448 shipping"
2,Lenovo ThinkPad L15 Gen 2 15.6” FHD Laptop Cor...,"NT$9,563",from United States,"discountcomputerdepot (115,408) 98.5%","+NT$ 1,334 shipping"
3,Dell Latitude 7400 Gaming Laptop PC Intel Core...,"NT$ 12,969 to NT$ 22,631",from United States,"aaa_pcs (4,960) 100%","+NT$ 1,469 shipping"
4,"Acer Aspire Nitro Black Edition N15W7 15.6"" i7...","NT$5,431",from United States,"thriftonic (91,550) 98.9%","+NT$ 1,572 shipping"

In [3]:
# Data observation
# Observe data types, number of data entries, and number of columns
# Check whether there are duplicate rows or missing values
info = data.info()
shape = data.shape
missing_values = data.isnull().sum()
has_duplicates = data.duplicated().any()

print("Data Info:")
print(info)

print("\nDataFrame Shape:")
print(shape)

print("\nMissing Values:")
print(missing_values)

print("\nAre there duplicate rows?")
print(has_duplicates)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product_Name       2999 non-null   object
 1   Product_Price      2999 non-null   object
 2   Place_of_shipment  2999 non-null   object
 3   Review             2999 non-null   object
 4   Shipping_Cost      2999 non-null   object
dtypes: object(5)
memory usage: 117.3+ KB
Data Info:
None

DataFrame Shape:
(2999, 5)

Missing Values:
Product_Name         0
Product_Price        0
Place_of_shipment    0
Review               0
Shipping_Cost        0
dtype: int64

Are there duplicate rows?
True

In [4]:
# Remove duplicate rows
unique_data = data.drop_duplicates()
has_duplicates = unique_data.duplicated().any()

print("\nAre there duplicate rows?")
print(has_duplicates)

Are there duplicate rows?
False

In [5]:
# Data type transformation
# Convert specific columns to string data types
unique_data['Product_Price'] = unique_data['Product_Price'].astype(str)
unique_data['Place_of_shipment'] = unique_data['Place_of_shipment'].astype(str)
unique_data['Review'] = unique_data['Review'].astype(str)
unique_data['Shipping_Cost'] = unique_data['Shipping_Cost'].astype(str)

C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\219288170.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Product_Price'] = unique_data['Product_Price'].astype(str)
C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\219288170.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Place_of_shipment'] = unique_data['Place_of_shipment'].astype(str)
C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\219288170.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Review'] = unique_data['Review'].astype(str)
C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\219288170.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Shipping_Cost'] = unique_data['Shipping_Cost'].astype(str)

In [6]:
# Data cleaning
# Remove specific symbols and words
unique_data['Product_Price'] = unique_data['Product_Price'].str.replace('NT$', '').str.replace(',', '')
unique_data['Place_of_shipment'] = unique_data['Place_of_shipment'].str.replace('from', '')
unique_data['Review'] = unique_data['Review'].str.replace(',', '')
unique_data['Shipping_Cost'] = unique_data['Shipping_Cost'].str.replace('\+NT\$|\s*shipping', '', regex=True).str.replace(',', '')

unique_data.head(5)

C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\1992829659.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Product_Price'] = unique_data['Product_Price'].str.replace('NT$', '').str.replace(',', '')
C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\1992829659.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Place_of_shipment'] = unique_data['Place_of_shipment'].str.replace('from', '')
C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\1992829659.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Review'] = unique_data['Review'].str.replace(',', '')
C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\1992829659.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Shipping_Cost'] = unique_data['Shipping_Cost'].str.replace('\+NT\$|\s*shipping', '', regex=True).str.replace(',', '')

,Product_Name,Product_Price,Place_of_shipment,Review,Shipping_Cost
0,"Dell 14"" TOUCHSCREEN Laptop Quad-Core Intel i5...",6322,United States,allamandi (5720) 99.1%,1228
1,"FAST HP 15.6"" Laptop Intel Core i7 2.7GHz 16GB...",6322,United States,allamandi (5720) 99.1%,1448
2,Lenovo ThinkPad L15 Gen 2 15.6” FHD Laptop Cor...,9563,United States,discountcomputerdepot (115408) 98.5%,1334
3,Dell Latitude 7400 Gaming Laptop PC Intel Core...,12969 to 22631,United States,aaa_pcs (4960) 100%,1469
4,"Acer Aspire Nitro Black Edition N15W7 15.6"" i7...",5431,United States,thriftonic (91550) 98.9%,1572

In [7]:
# Data cleaning
# Define a function to process ['Product_Price'] containing price ranges, converting them into average prices and then into integers
# Maintain the original format for other types of prices and convert them into integers
def calculate_average_price(price_str):
    try:
        # Check if 'to' is in the ['Product_Price']
        if ' to ' in price_str:
            # Split the price range string, remove spaces and commas, and convert to integers
            prices = [int(price.replace(',', '').strip()) for price in price_str.split(' to ')]
            if len(prices) == 2:
                # Return the average price of the range
                return sum(prices) // 2
            else:
                return None
        else:
            # Price string without 'to', convert to integer directly
            price = int(price_str.replace(',', '').strip())
            return price
    except ValueError as ve:
        print(f"Error: Invalid price format in '{price_str}': {ve}")
        return None
    except Exception as e:
        print(f"Error processing price {price_str}: {e}")
        return None
        
unique_data['Product_Price'] = unique_data['Product_Price'].apply(calculate_average_price)
unique_data.head(5)

C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\2920482263.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Product_Price'] = unique_data['Product_Price'].apply(calculate_average_price)

,Product_Name,Product_Price,Place_of_shipment,Review,Shipping_Cost
0,"Dell 14"" TOUCHSCREEN Laptop Quad-Core Intel i5...",6322,United States,allamandi (5720) 99.1%,1228
1,"FAST HP 15.6"" Laptop Intel Core i7 2.7GHz 16GB...",6322,United States,allamandi (5720) 99.1%,1448
2,Lenovo ThinkPad L15 Gen 2 15.6” FHD Laptop Cor...,9563,United States,discountcomputerdepot (115408) 98.5%,1334
3,Dell Latitude 7400 Gaming Laptop PC Intel Core...,17800,United States,aaa_pcs (4960) 100%,1469
4,"Acer Aspire Nitro Black Edition N15W7 15.6"" i7...",5431,United States,thriftonic (91550) 98.9%,1572

In [8]:
# Data cleaning
# Define a function to process ['Review'], extracting strings in brackets , converting them into integers
def extract_string_in_brackets(text):
    # Use regular expressions to match strings within brackets
    match = re.search(r'\(([^)]+)\)', text)  
    if match:
        # Return the string in brackets
        return match.group(1)  
    else:
        return None 

unique_data['Review'] = unique_data['Review'].apply(extract_string_in_brackets)
unique_data['Review'] = unique_data['Review'].astype('int64')
unique_data.head(5)

C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\602434000.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Review'] = unique_data['Review'].apply(extract_string_in_brackets)
C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\602434000.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Review'] = unique_data['Review'].astype('int64')

,Product_Name,Product_Price,Place_of_shipment,Review,Shipping_Cost
0,"Dell 14"" TOUCHSCREEN Laptop Quad-Core Intel i5...",6322,United States,5720,1228
1,"FAST HP 15.6"" Laptop Intel Core i7 2.7GHz 16GB...",6322,United States,5720,1448
2,Lenovo ThinkPad L15 Gen 2 15.6” FHD Laptop Cor...,9563,United States,115408,1334
3,Dell Latitude 7400 Gaming Laptop PC Intel Core...,17800,United States,4960,1469
4,"Acer Aspire Nitro Black Edition N15W7 15.6"" i7...",5431,United States,91550,1572

In [9]:
# Data observation after data cleaning
info = unique_data.info()
shape = data.shape
missing_values = data.isnull().sum()


print("Data Info:")
print(info)

print("\nDataFrame Shape:")
print(shape)

print("\nMissing Values:")
print(missing_values)

<class 'pandas.core.frame.DataFrame'>
Index: 2914 entries, 0 to 2998
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product_Name       2914 non-null   object
 1   Product_Price      2914 non-null   int64
 2   Place_of_shipment  2914 non-null   object
 3   Review             2914 non-null   int64
 4   Shipping_Cost      2914 non-null   object
dtypes: int64(2), object(3)
memory usage: 136.6+ KB
Data Info:
None

DataFrame Shape:
(2999, 5)

Missing Values:
Product_Name         0
Product_Price        0
Place_of_shipment    0
Review               0
Shipping_Cost        0
dtype: int64

In [10]:
# Convert data to numeric type and replace missing values ​​with 0
unique_data['Shipping_Cost'] = pd.to_numeric(unique_data['Shipping_Cost'], errors='coerce').fillna(0).astype('int64')
info = unique_data.info()

print("Data Info:")
print(info)

C:\Users\hankc\AppData\Local\Temp\ipykernel_15888\2900362805.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_data['Shipping_Cost'] = pd.to_numeric(unique_data['Shipping_Cost'], errors='coerce').fillna(0).astype('int64')

<class 'pandas.core.frame.DataFrame'>
Index: 2914 entries, 0 to 2998
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product_Name       2914 non-null   object
 1   Product_Price      2914 non-null   int64
 2   Place_of_shipment  2914 non-null   object
 3   Review             2914 non-null   int64
 4   Shipping_Cost      2914 non-null   int64
dtypes: int64(3), object(2)
memory usage: 136.6+ KB
Data Info:
None

In [11]:
output_file_path = r"C:\Users\hankc\OneDrive\桌面\py4e\cleaned_ebay_Laptop_Product.csv"
unique_data.to_csv(output_file_path, index=False)